.footer {
  position: relative;
  padding: 64px;
  background: hsl(0deg, 0%, 5%);
  color: white;
  text-align: center;
}

.footer a {
  color: white;
}

@media screen and (max-width: 800px) {
  .footer {
    position: fixed;
    bottom: 0;
    display: none;
  }
}
